NEXT_PUBLIC_LINKEDIN_URL=https://example.com/linkedin
NEXT_PUBLIC_GITHUB_URL=https://example.com/github
NEXT_PUBLIC_FACEBOOK_URL=https://example.com/facebook
NEXT_PUBLIC_TWITTER_URL=https://example.com/twitter
NEXT_PUBLIC_INSTAGRAM_URL=https://example.com/instagram
NEXT_PUBLIC_EMAIL=example@example.com
NEXT_PUBLIC_BASE_URL=https://example.com
