@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 34, 34, 34;
  /* --background-rgb: 30, 30, 30; */
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 34, 34, 34;
  --border-color: 100, 100, 100;
}

/* html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
} */

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

input {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  border-color: rgb(var(--border-color));
}

input:focus {
  outline: none;
  border-color: rgb(var(--border-color));
}

textarea {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  border-color: rgb(var(--border-color));
}

textarea:focus {
  outline: none;
  border-color: rgb(var(--border-color));
}
